.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .container .box {
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    background: white;
    text-align: center;
    z-index: 1;
}
.pricing .container .box::before,
.pricing .container .box::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 50%;
    transition: var(--main-transition);
    background-color:#f6f6f6;
    z-index: -1;
    

}
.pricing .container .box::before {
    left: 0;
    top: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover:after {
    width: 100%;
}

.pricing .container .box::after {
    right: 0;
    bottom: 0;
    
}

.pricing .container .box .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    width: 40px;
    right: 20px;
}
@media (min-width:1200px) {
    .pricing .container .popular {
        transform: translateY(-20px);
    }
}

.pricing .container .box .label::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 20px solid;
    border-color: transparent transparent white transparent;
}
.pricing .container .box .title {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}
.pricing .container .box img {
    width: 80px;
    margin-bottom: 30px;
}
.pricing .container .box .price {
    margin-bottom: 20px;
    
}
.pricing .container .box .price span {
    display: block
}
.pricing .container .box .price span:first-child {
    font-size: 60px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 5px;
}
.pricing .container .box .price span:last-child {
    color: #777;
    font-size: 15px;
}
.pricing .container .box ul {
    text-align: left;
}
.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.pricing .box a {
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: var(--main-transition);
}

.pricing .box a:hover {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color-alt);
}

