
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url(../../img/stats.jpg);
    background-size: cover;
    min-height: 300px;
}
.stats::before {
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
    
}
.stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.6;
    transition: var(--main-transition);
}
.stats .container .box:hover {
    opacity: 1;
}


.stats .container .box::after,
.stats .container .box::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    transition: 1s;
    width: 2px;
    height: 0;
}
.stats .container .box::after {
    right: 0;
    top: 0;

}
.stats .container .box::before {
    bottom: 0;
    left: 0;
}
.stats .container .box:hover::after,
.stats .container .box:hover::before {
    height: 100%;
}

.stats .container .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stats .container .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
