.gallary {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);

}

.gallary .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    
}
.gallary .container .box{
    padding: 15px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallary .container .image {
    position: relative;
    overflow: hidden;

}
.gallary .container .image::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.192);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}
.gallary .container .image:hover::before{
    animation: flashing 0.7s;
}


.gallary .container img {
    width: 100%;
    min-width: 100%;
    transition: var(--main-transition);
}
.gallary .container .image:hover img{
    transform: rotate(5deg) scale(1.1);
}